.form {
    font-family: 'Carter', "Comic Sans MS", "Comic Sans", sans-serif;
    color: var(--color1);
    text-align: center;
    width: 500px;
    height: 600px;
    background-image: url(../images/card_back.gif);
    border-radius: 25px;
    padding: 15px;
    border-top: 200px;
    margin: auto;
}

input {
    width: 80%;
    padding: 10px 15px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid var(--color2);
    border-radius: 5px;
    background-color: var(--color1);
}

textarea {
    width: 80%;
    height: 180px;
    padding: 10px 15px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid var(--color2);
    border-radius: 5px;
    background-color: var(--color1);
    resize: none;
}

input[type=submit] {
    width: 60%;
    height: 60px;
    font-size: 22px;
    font-family: 'Carter', "Comic Sans MS", "Comic Sans", sans-serif;
    color: var(--color3);
    margin-bottom: 30px;
}

input::placeholder,
textarea::placeholder {
    font-family: 'Carter', "Comic Sans MS", "Comic Sans", sans-serif;
    font: 16px;
    color: var(--color3);
}

input:hover,
textarea:hover {
    border: 2px solid var(--color5);
}