.container {
    padding: 40px 5%;
}

.image-gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image-gallery .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image-item {
    width: 100%;
    border-radius: 5px;
    height: auto;
    object-fit: cover;
}

@media only screen and (min-width: 768px) {
    .image-gallery {
        flex-direction: row;
    }
}