@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Schoolbell&display=swap');

:root {
    --color1: #ffffff;
    --color2: #92A8D1;
    --color3: #6b5b95;
    --color4: #D95366;
    --color5: #F5DA71;
    --color6: #0F8A66;
}

@media only screen and (max-width: 850px) {
    nav {
        justify-content: space-between;
        margin: 0 auto;
        padding: 0 10px;
    }

    .nav {
        display: none;
        flex-direction: column;
    }

    .social {
        padding: 0;
    }

    header .icon {
        color: var(--color1);
        display: block;
        position: relative;
        padding-right: 50px;
    }

    .slideshow-container {
        padding: 0;
        max-width: 95%;
        position: relative;
        margin: 0 auto;
    }

    .slideshow-container img {
        border-radius: 10px;
    }

    #logo,
    #slogan {
        position: relative;
        top: 0;
    }

    #logo {
        left: 5px;
        max-width: 35%;
        transform: translateY(30%);
    }

    #slogan {
        right: 5px;
        width: fit-content;
        margin: 0 0 0 auto;
        transform: translateY(-50%);
    }

    .cards {
        gap: 15px;
        position: relative;
        top: 0px;
        margin-bottom: 60px;
    }

    .equipe {
        width: 82%;
    }

    article p {
        text-indent: 2em;
    }

    .equipe article {
        width: 100%;
        text-align: center;
    }

    .equipe img {
        width: 70%;
    }

    .inspiracoes img {
        float: none;
        width: 100%;
        margin: 5px 0 10px 0;
    }

    .form {
        width: 90%;
    }

    p.footer {
        display: none;
    }

    .resumo-endereco {
        display: block;
    }

    .responsive {
        position: absolute;
        display: block;
        z-index: 1000;
        background-color: var(--color2);
        border-radius: 0px 0px 15px 15px;
        padding: 10px 20px;
        top: 20px;
        left: 0px;
        text-align: left;
        line-height: 2;
    }
}