* {
    box-sizing: border-box
}

.slideshow-container {
    max-width: 1200px;
    position: relative;
    margin: auto;
}

.slides {
    display: none;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}